{
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "rules": {
        "semi": "error",
        "no-extra-semi": "error",
        "comma-dangle": "error",
        "quotes": ["error", "single"],
        "no-undef": "error",
        "no-unused-vars": "error",
        "no-use-before-define": "error",
        "no-irregular-whitespace": "error",
        "indent": ["error", 4, {"SwitchCase": 1}],
        "no-case-declarations": "error",
        "no-trailing-spaces": "error",
        "no-redeclare": "error",
        "no-console": ["error", { "allow": ["warn", "error"] }],
        "consistent-return": "error",
        "func-style": ["error", "declaration", { "allowArrowFunctions": false }],
        "no-restricted-syntax": ["error", "ArrowFunctionExpression"],
        "no-param-reassign": "error",
        "curly": "error",
        "brace-style": ["error"],
        "space-before-blocks": "warn",
        "space-in-parens": "warn",
        "space-infix-ops": "warn",
        "space-unary-ops": "warn",
        "keyword-spacing": ["warn", { "before": true, "after": true }],
        "prefer-template": "error",
        "array-callback-return": "error",
        "no-array-constructor": "error",
        "no-new-object": "error",
        "no-new-wrappers": "error",
        "no-new-func": "error",
        "no-eval": "error",
        "no-var": "error",
        "no-const-assign": "error",
        "prefer-const": "error",
        "one-var": ["error", "never"],
        "no-plusplus": "error",
        "eqeqeq": ["error", "always", {"null": "ignore"}],
        "no-unneeded-ternary": "error",
        "no-nested-ternary": "error",
        "object-shorthand": "error",
        "quote-props": ["error", "as-needed", { "keywords": true, "unnecessary": false, "numbers": true }],
        "dot-notation": "error",
        "spaced-comment": ["error", "always"],
        "no-warning-comments": "warn",
        "comma-style": ["error", "last"],
        "radix": "error",
        "new-cap": ["error", { "newIsCap": true }],
        "no-underscore-dangle": "error",
        "no-invalid-this": "error",
        "consistent-this": ["error", "self"]
    }
}